<% layout('layout/app') %>

<h1 class="text-center">Edit Place</h1>

<div class="col-6 offset-3">
  <form action="/places/<%= place._id %>?_method=PUT" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        id="title"
        name="place[title]"
        class="form-control"
        value="<%= place.title %>"
        required
      />
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input
        type="text"
        id="location"
        name="place[location]"
        class="form-control"
        value="<%= place.location %>"
        required
      />
    </div>
    <div class="mb-1">
      <label for="price" class="form-label">Price</label>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Rp.</span>
      <input
        type="text"
        id="price"
        name="place[price]"
        class="form-control"
        value="<%= place.price %>"
        aria-label="Amount (to the nearest rupiah)"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        name="place[description]"
        id="description"
        rows="4"
        class="form-control"
      >
<%= place.description %></textarea
      >
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image Url</label>
      <input
        type="text"
        id="image"
        name="place[image]"
        class="form-control"
        value="<%= place.image %>"
        required
      />
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </form>
</div>
