<% layout('layout/app') %>

<div class="row py-3 gap-2 justify-content-center">
  <!-- place content -->
  <div class="col-md-5 p-2">
    <div class="card">
      <img
        src="<%= place.image %>"
        alt="<%= place.title %>"
        class="card-img-top w-100"
      />
      <div class="card-body">
        <div class="card-title"><%= place.title %></div>
        <div class="card-text"><%= place.description %></div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= place.location %></li>
        <li class="list-group-item">Rp.<%= place.price %></li>
      </ul>
      <div class="card-body">
        <a
          href="/places/<%= place._id %>/edit"
          class="btn btn-warning text-white"
          >Edit</a
        >
        <form
          action="/places/<%= place._id %>?_method=DELETE"
          method="POST"
          style="display: inline !important"
        >
          <button class="btn btn-danger mx-1">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <!-- input review content -->
  <div class="col-md-5 p-2">
    <div class="p-2 text-center">
      <h3>Write your review</h3>
    </div>
    <form
      action="/places/<%= place._id %>/reviews"
      method="POST"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="rating" class="form-label">Give your rating</label>
        <input
          type="range"
          name="review[rating]"
          class="form-range"
          min="1"
          max="5"
          step="1"
          id="rating"
          required
        />
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Write your review</label>
        <textarea
          name="review[body]"
          id="body"
          cols="20"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please write your review.</div>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
